.title {
    text-align: center;
}

.reset {
    display: block;
    margin: auto;
}

.board {
    border: 5px solid grey;
    width: 750px;
    margin: 25px auto;
}

.grid-row {
    display: flex;
}

.grid-box {
    border: 1px solid grey;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.hover-black {
    background-color: black;
}
