.board {
    border: 5px solid black;
    width: 750px;
}

.grid-row {
    display: flex;
}

.grid-box {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.hover {
    background-color: blue;
}